<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viamhealth.android"
    android:versionCode="4"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- GCM perms -->
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.viamhealth.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.viamhealth.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM Ends -->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission
        android:name="android.permission.camera"
        android:required="false" />
    <uses-permission
        android:name="android.permission.camera.autofocus"
        android:required="false" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="false" />
    <uses-feature
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <uses-feature
        android:name="android.permission.CALL_PHONE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="com.viamhealth.android.Global_Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ViamHealth"
        android:theme="@style/Greentheme" >
        <!-- GCM -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.viamhealth.android.activities.Home"
            android:screenOrientation="portrait"
            android:theme="@style/Reversetheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.viamhealth.android.activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/Reversetheme" />
        <activity
            android:name="com.viamhealth.android.activities.Register"
            android:theme="@style/Reversetheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" >
        </activity>
        <activity
            android:name="com.viamhealth.android.activities.Downlaod"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" >
        </activity>
        <activity android:name="com.viamhealth.android.activities.AddReminder"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.viamhealth.android.activities.ProfileListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.viamhealth.android.activities.NewProfile"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.viamhealth.android.activities.FBFamilyListActivity" android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.viamhealth.android.activities.TabActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.viamhealth.android.activities.TermsActivity" >
        </activity>


        <activity android:name="com.viamhealth.android.activities.SelectFiles"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.viamhealth.android.activities.fragments.FileShowcaseActivity"
            android:screenOrientation="portrait">
        </activity>



        <activity
            android:name="com.viamhealth.android.activities.ForgotPassword"
            android:theme="@style/Reversetheme"
            android:screenOrientation="portrait">
        </activity>


        <service android:name="com.viamhealth.android.services.ReminderBackground" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyServiceOne"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyServiceTwo"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyServiceThree"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTodayAfternoon"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTomorrowAfternoon"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTwoAfternoon"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineThreeAfternoon"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTodayMorning"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTomorrowMorning"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTwoMorning"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineThreeMorning"
            android:enabled="true"
            android:exported="true" >

        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTodayNight"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTomorrowNight"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineTwoNight"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.viamhealth.android.services.NotifyMedicineThreeNight"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.viamhealth.android.receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>
        <service android:name="com.viamhealth.android.receivers.GcmIntentService" />
        <!-- GCM ends -->
        
    </application>


</manifest>
